<?xml version="1.0" encoding="UTF-8"?>
<!-- log級別 : OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status : log4j本身的顯示訊息級別 -->
<!-- monitorInterval：檢查設定的間隔時間 -->
<!-- 要將全部設定成非同步的話，記得要設定java system property -->
<!-- (ex : java -jar -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector a.jar) -->
<!-- 如果log4j2的啟動訊息有類似(org.apache.logging.log4j.core.async.AsyncLoggerContext@52e9be67] started OK.)代表設定成功 (要設定log4j2的訊息級別為debug以上才看的到)-->
<!-- reference : https://dzone.com/articles/asynchronous-logging-with-log4j-2 -->
<configuration status="WARN" monitorInterval="30">
    <!-- 所有的appender -->
    <appenders>
        <!-- 輸出到控制台的配置 -->
        <console name="Console" target="SYSTEM_OUT">
            <!-- 輸出的格式 -->
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss:SSS}] [%p] [%t] - %l - %m%n}{STYLE=Logback}"/>
        </console>
        <!-- 只輸出這次執行的訊息，因為不會有前一次執行的資訊，所以debug時可以用 -->
        <File name="CurrentLog" fileName="log/current.log" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] [%t] - %l - %m%n"/>
        </File>
        <!-- 切分log檔案的設定 -->
        <RollingFile name="RollingFileInfo" fileName="log/info/info.log"
                     filePattern="log/info/$${date:yyyy-MM}/%d{yyyy-MM-dd}-%i.log">
            <!-- 額外的級別設定 -->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] [%t] - %l - %m%n"/>
            <Policies>
                <!-- 依照時間切分檔案，單位為filePattern裡時間的最小單位 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <!-- 依照檔案大小切分檔案 -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!-- 最多切分多少個檔案，預設為7個，只對"因檔案大小而被切分"有效-->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="log/error/error.log"
                     filePattern="log/error/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] [%t] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>

    <!-- 定義loggers -->
    <loggers>
        <root level="all">
            <!-- 只顯示這次執行的log, 主要是debug用 -->
            <appender-ref ref="CurrentLog"/>

            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>
</configuration>